<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{ifset #title}{include title|striptags} {else} Filmy ke stažení zdarma | VIPFilmy.cz {/ifset}</title>
		<meta name="keywords" content="jaffa, kree, shakree, film, stažení">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Daniel Krůl | VIP trust s.r.o.">
		<meta name="description" content="Na tomto webu naleznete téměř veškeré filmy, které si můžete stáhnout do svého počítače.">
		<meta name="robots" content="index,follow">
		<link rel="stylesheet" href="{$basePath}/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="{$basePath}/bootstrap/css/bootstrap-theme.css">
		<link rel="stylesheet" href="{$basePath}/css/main.css">
		<script src="{$basePath}/js/jquery.min.js"></script>
		<script src="{$basePath}/bootstrap/js/bootstrap.min.js"></script>
		<!-- <script src="{$basePath}/js/main.js"></script> -->
		<link rel="shortcut icon" href="{$basePath}/favicon.ico">
		{block head}{/block}
	</head>
	<body>
		<div id="fb-root"></div>
		<script n:syntax=off>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-100099498-1', 'auto');
			ga('send', 'pageview');

			(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/cs_CZ/sdk.js#xfbml=1&version=v2.9";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>
		<nav class="navbar navbar-default" id="navigace">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{$basePath}">
						<img alt="VIPFilmy.cz" src="{$basePath}/design/images/logo.png" />
					</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<form n:name="searchForm" style="margin-top: 15px;" class="navbar-form navbar-right" role="search">
						<div class="form-group">
							<input n:name="searchInput" type="text" id="movieSearch" class="form-control" placeholder="Vyhledej film nebo osobnost">
						</div>
						<button n:name="sendInput" class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
					</form>
					{* <ul class="nav navbar-nav navbar-right">
						<li><a href="{$basePath}">Domů</a></li>
						<li><a href="../navbar-static-top/">Novinky</a></li>
						<li class="active"><a href="./">Nejstahovanější</a></li>
					</ul> *}
				</div>
				<!--/.nav-collapse -->
			</div>
		</nav>
		<div class="container-fluid" style="margin-left: 2em; margin-right: 2em;">
			<div class="row">
				<div class="col-sm-8">
					<div class="row">
						<div id="contentMovies">
							{block content}
							{/block}
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="container-fluid">
						<div class="row" style="margin-bottom: 1.5em;">
							<div class="panel panel-changed panel-primary">
								<div class="panel-heading">
									<h2 class="text-center rightTitle">Kategorie</h2>
								</div>
								<div class="panel-body">
									<div class="list-group">
										{foreach $listOfCategories as $list}
											<a n:class="$presenter->isLinkCurrent('kategorie', $list['name']) ? active, list-group-item" href="{$presenter->link('kategorie', $list['name']|webalize, 0)}">
											<span style="margin-right: 5px;" class="glyphicon glyphicon-film"></span>
											<strong>{$list['name']}</strong>
											{* <span class="pull-right">
											<span class="badge">{$numberOfMoviesInCategory[$list['id'] - 1]}</span>
											</span> *}
											</a>
										{/foreach}
									</div>
								</div>
							</div>
						</div>
						<div class="row" style="margin-bottom: 1.5em;">
							<div class="panel panel-primary panel-changed">
								<div class="panel-heading">
									<h2 class="text-center rightTitle">Statistika</h2>
								</div>
								<div class="panel-body">
									<ul class="list-group">
										<li class="list-group-item"><strong>Počet filmů</strong> <span class="badge">{$numberOfMovies}</span></li>
										<li class="list-group-item"><strong>Osobností</strong> <span class="badge">{$numberOfPersonalities}</span></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="bg-primary">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-6 footerleft ">
						<div class="logofooter"> <img alt="VIPFilmy.cz" src="{$basePath}/design/images/logo.png" style="width: 100%;" /></div>
						<p>Na tomto webu naleznete téměř veškeré filmy, které si můžete stáhnout do svého počítače. Veškeré filmy jsou ve FULL HD kvalitě a některé i ve 4K rozlišení. Některé filmy a seriály zde naleznete ještě dříve než jdou do kina. Stahování je buď přímé nebo přes torrent.</p>
						<p><i class="fa fa-envelope"></i> E-mail: <a href="mailto:info@viptrust.cz">info@viptrust.cz</a></p>
					</div>
					{* <div class="col-md-2 col-sm-6 paddingtop-bottom">
						<h6 class="heading7">GENERAL LINKS</h6>
						<ul class="footer-ul">
							<li><a href="#"> Career</a></li>
							<li><a href="#"> Privacy Policy</a></li>
							<li><a href="#"> Terms & Conditions</a></li>
							<li><a href="#"> Client Gateway</a></li>
							<li><a href="#"> Ranking</a></li>
							<li><a href="#"> Case Studies</a></li>
							<li><a href="#"> Frequently Ask Questions</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-6 paddingtop-bottom">
						<h6 class="heading7">LATEST POST</h6>
						<div class="post">
							<p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
							<p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
							<p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
						</div>
					</div> *}
					<div class="col-md-3 col-sm-6 paddingtop-bottom pull-right">
						<div class="fb-page" data-href="https://www.facebook.com/VIPfilmycz-784154041756144/" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
							<div class="fb-xfbml-parse-ignore">
								<blockquote cite="https://www.facebook.com/VIPfilmycz-784154041756144/"><a href="https://www.facebook.com/VIPfilmycz-784154041756144/">Facebook</a></blockquote>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<div class="copyright">
			<div class="container">
				<div class="col-md-6">
					<p>© 2017 | Web vytvořen <a href="https://viptrust.cz">VIPTrust.cz</a></p>
				</div>
				{* <div class="col-md-6">
					<ul class="bottom_ul">
						<li><a href="#">About us</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Faq's</a></li>
						<li><a href="#">Contact us</a></li>
						<li><a href="#">Site Map</a></li>
					</ul>
				</div> *}
			</div>
		</div>
	</body>
</html>