{block content}
	<h1 class="text-center"><span n:block=title>{$actualName|striptags}</span> ke stažení zdarma</h1>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3">
				{if $movieInfo['img_url'] == ''}
					<img alt="{$actualName|striptags}" style="width: 100%;" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
					{else}
					<img alt="{$actualName|striptags}" style="width: 100%;" src="http://vipfilmy.cz/img_mov/{(ceil($movieInfo['id_csfd'] / 1000) * 1000) / 1000}/{$movieInfo['img_url']}">
				{/if}
			</div>

			<div class="col-sm-9">
				<div class="clearfix">
					<table class="table">
						<tbody>
							{if $movieInfo['sk_name'] != ''}
							<tr>
								<td><img src="{$basePath}/design/icons/slovakia.png" width="25"></td>
								<td>{$movieInfo['sk_name']}</td>
							</tr>
							{/if}

							{if $movieInfo['usa_name'] != ''}
							<tr>
								<td><img src="{$basePath}/design/icons/usa.png" width="25"></td>
								<td>{$movieInfo['usa_name']}</td>
							</tr>
							{/if}

							{if $movieInfo['british_name'] != ''}
							<tr>
								<td><img src="{$basePath}/design/icons/britain.png" width="25"></td>
								<td>{$movieInfo['british_name']}</td>
							</tr>
							{/if}

							{if $movieInfo['kanada_name'] != ''}
							<tr>
								<td><img src="{$basePath}/design/icons/canada.png" width="25"></td>
								<td>{$movieInfo['kanada_name']}</td>
							</tr>
							{/if}

							{if $movieInfo['francie_name'] != ''}
							<tr>
								<td><img src="{$basePath}/design/icons/france.png" width="25"></td>
								<td>{$movieInfo['francie_name']}</td>
							</tr>						
							{/if}

							{if $movieInfo['rusko_name'] != ''}
							<tr>
								<td><img src="{$basePath}/design/icons/russia.png" width="25"></td>
								<td>{$movieInfo['rusko_name']}</td>
							</tr>						
							{/if}

							<tr>
								<td><strong>Žánr: </strong></td>
								<td>
									<ul class="list-inline">
										{foreach $zanrInfo as $zanr}
										<li><a href="{$presenter->link('kategorie', trim($zanr)|webalize, 0)}">{$zanr}</a></li> 
										{/foreach}
									</ul>
								</td>
							</tr>

							<tr>
								<td><strong>Osobnosti: </strong></td>
								<td>
									<ul class="list-inline">
										{foreach $personalitiesInfo as $person}
										<li class="list-inline-item"><a href="{$presenter->link('osobnost', $person['seoName'])}">{$person['jmeno_prijmeni']}</a></li> 
										{/foreach}
									</ul>
								</td>
							</tr>

							<tr>
								<td><strong>Hodnocení: </strong></td>
								<td>
									<a data-toggle="tooltip" title="Filmy podle hodnocení" href="{$presenter->link('hodnoceni', $movieInfo['hodnoceni'])}">{$movieInfo['hodnoceni']}%</a>
								</td>
							</tr>

							<tr>
								<td><strong>Rok: </strong></td>
								<td>
									<a href="{$presenter->link('rok', $movieInfo['rok'], 0)}">{$movieInfo['rok']}</a>
								</td>
							</tr>

						</tbody>
					</table>
				</div>
				
			</div>
		</div>

		<div class="row">
			<h2 class="text-center">Popisek filmu:</h2>
			{$movieInfo['text']|striptags}
		</div>
		<div class="row text-center" style="margin-top: 1em;">
			<div class="btn-group">
				<a data-toggle="tooltip" title="Stáhnout na hellspy" target="_blank" href="http://www.hellspy.cz/search/?usrq={$movieInfo['default_name']|striptags}&d=aac116" class="btn btn-lg btn-success">
					<span class="glyphicon glyphicon-download-alt"></span> Stáhnout
				</a>
			</div>
		</div>
	</div>
{/block}