{block content}
	<h1 class="text-center">Filmy ke stažení zdarma</h1>
	<div class="container-fluid">
		<div class="row">
		{foreach $newestMovies as $movie}
			<div class="col-sm-6 movieItem">
				<div class="media">
					<div class="media-left media-top">
						<img alt="{$movie['default_name']|striptags}" width="70" src="http://vipfilmy.cz/img_mov/{(ceil($movie['id_csfd'] / 1000) * 1000) / 1000}/{$movie['img_url']}" class="media-object">
					</div>
					<div class="media-body">
						<h3 class="media-heading">{$movie['default_name']|striptags} <a data-toggle="tooltip" title="Detail na ČSFD" target="_blank" href="https://www.csfd.cz/film/{$movie['id_csfd']}-{$movie['seo_default_name']}/prehled/"><small class="text-muted pull-right"><img alt="ČSFD.cz" src="{$basePath}/design/icons/csfd.png" width="15"> {$movie['hodnoceni']}%</small></a></h3>
						<p><small>Rok: {$movie['rok']}</small><br>
						<small>Žánr: {$movie['zanr']}</small></p>
						{if trim($movie['text']) == ''} <p>Omlouváme se, popisek není k dispozici....</p> {else} <p>{$movie['text']|truncate:330|striptags}</p> {/if}
						<div class="btn-group pull-right">
							<a data-toggle="tooltip" title="Stáhnout na hellspy" target="_blank" href="http://www.hellspy.cz/search/?usrq={$movie['default_name']|striptags}&d=aac116" class="btn btn-success">
								<span class="glyphicon glyphicon-download-alt"></span> Stáhnout
							</a>
							<a href="{$presenter->link('detail', $movie['default_name']|webalize)}" class="btn btn-primary">
								<span class="glyphicon glyphicon-info-sign"></span> Detail
							</a>
						</div>
					</div>
				</div>
			</div>
		{/foreach}
		</div>
		<div class="row">
			<ul class="pagination pull-right">
				{if $actualPage > 0}
					<li><a href="{$presenter->link('film',  $actualPage - 1)}">&larr; Předchozí</a></li>
				{/if}

				{block head}
				{if $actualPage > 0}
<link rel="prev" href="{$presenter->link('film',  $actualPage - 1)}" />
<link rel="next" href="{$presenter->link('film',  $actualPage + 1)}" />
				{/if}
				{/block}

				{if $actualPage > 4}
					{for $i = 5; $i > 0; $i--}
    					<li n:class="$presenter->isLinkCurrent('film',  $actualPage - $i) ? active"><a href="{$presenter->link('film',  $actualPage - $i)}">{$actualPage - $i}</a></li>
					{/for}
				{/if}

				{for $i = 0; $i < 5; $i++}
    				<li n:class="$presenter->isLinkCurrent('film',  $actualPage + $i) ? active"><a href="{$presenter->link('film',  $actualPage + $i)}">{$actualPage + $i}</a></li>
				{/for}
				<li><a href="{$presenter->link('film',  $actualPage + 1)}">Další &rarr;</a></li>
			</ul>
		</div>
	</div>
{/block}