{block content}
	<h1 class="text-center">Kategorie: <span n:block=title>{$actualGenre}</span></h1>
	<div class="container-fluid">
		<div class="row">
			<div class="btn-group pull-right">
				<div class="btn-group">
					<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
					Seřadit podle <span class="caret"></span></button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="{$presenter->link('kategorie', $actualGenreWebalize, $actualPage, 'hodnoceni DESC')}">Nejlepší</a></li>
							<li><a href="{$presenter->link('kategorie', $actualGenreWebalize, $actualPage, 'rok DESC')}">Nejnovější</a></li>
							<li><a href="{$presenter->link('kategorie', $actualGenreWebalize, $actualPage, 'rok ASC')}">Nejstarší</a></li>
							<li><a href="{$presenter->link('kategorie', $actualGenreWebalize, $actualPage, 'hodnoceni ASC')}">Nejhorší</a></li>
							<li><a href="{$presenter->link('kategorie', $actualGenreWebalize, $actualPage, 'default_name DESC')}">Název</a></li>
						</ul>
					</div>
				</div>
			</div>

		<div class="row">
		{foreach $listOfMovies as $movie}
			<div class="col-sm-6 movieItem">
				<div class="media">
					<div class="media-left media-top">
						{if $movie['img_url'] == ''}
							<img alt="{$movie['default_name']|striptags}" width="70" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="media-object">
							{else}
							<img alt="{$movie['default_name']|striptags}" width="70" src="http://vipfilmy.cz/img_mov/{(ceil($movie['id_csfd'] / 1000) * 1000) / 1000}/{$movie['img_url']}" class="media-object">
						{/if}
					</div>
					<div class="media-body">
						<h3 class="media-heading">{$movie['default_name']|striptags} <a data-toggle="tooltip" title="Detail na ČSFD" target="_blank" href="https://www.csfd.cz/film/{$movie['id_csfd']}-{$movie['seo_default_name']}/prehled/"><small class="text-muted pull-right"><img alt="ČSFD.cz" src="{$basePath}/design/icons/csfd.png" width="15"> {$movie['hodnoceni']}%</small></a></h3>
						<p><small>Rok: {$movie['rok']}</small><br>
						<small>Žánr: {$movie['zanr']}</small></p>
						{if trim($movie['text']) == ''} <p>Omlouváme se, popisek není k dispozici....</p> {else} <p>{$movie['text']|truncate:330|striptags}</p> {/if}
						<div class="btn-group pull-right">
							<a data-toggle="tooltip" title="Stáhnout na hellspy" target="_blank" href="http://www.hellspy.cz/search/?usrq={$movie['default_name']|striptags}&d=aac116" class="btn btn-success">
								<span class="glyphicon glyphicon-download-alt"></span> Stáhnout
							</a>
							<a href="{$presenter->link('detail', $movie['default_name']|webalize)}" class="btn btn-primary">
								<span class="glyphicon glyphicon-info-sign"></span> Detail
							</a>
						</div>
					</div>
				</div>
			</div>
		{/foreach}
		</div>
		<div class="row">
			<ul class="pagination pull-right">
				{if $actualPage > 0}
					<li><a href="{$presenter->link('kategorie', $actualGenre|webalize, $actualPage - 1), $actualSort}">&larr; Předchozí</a></li>
				{/if}

				{block head}
				{if $actualPage > 0}
<link rel="prev" href="{$presenter->link('kategorie', $actualGenre|webalize, $actualPage - 1), $actualSort}" />
				{/if}

				{if ($gettedDataCount / $defaultNumberOfMoviesDisplay) > ($actualPage + 1)}
<link rel="next" href="{$presenter->link('kategorie', $actualGenre|webalize, $actualPage + 1), $actualSort}" />
				{/if}
				{/block}

				{if $actualPage > 4}
					{for $i = 5; $i > 0; $i--}
    					<li n:class="$presenter->isLinkCurrent('kategorie', $actualGenre|webalize, $actualPage - $i, $actualSort) ? active"><a href="{$presenter->link('kategorie', $actualGenre|webalize, $actualPage - $i, $actualSort)}">{$actualPage - $i}</a></li>
					{/for}
				{/if}

				{for $i = 0; $i < 5; $i++}
					{breakIf ($gettedDataCount / $defaultNumberOfMoviesDisplay) < ($actualPage + $i)}
    				<li n:class="$presenter->isLinkCurrent('kategorie', $actualGenre|webalize, $actualPage + $i, $actualSort) ? active"><a href="{$presenter->link('kategorie', $actualGenre|webalize, $actualPage + $i, $actualSort)}">{$actualPage + $i}</a></li>
				{/for}
				{if ($gettedDataCount / $defaultNumberOfMoviesDisplay) > ($actualPage + 1)}
					<li><a href="{$presenter->link('kategorie', $actualGenre|webalize, $actualPage + 1), $actualSort}">Další &rarr;</a></li>
				{/if}
			</ul>
		</div>


		{* <div class="row">
			<ul class="pagination pull-right">
				{if $actualPage > 0}
					<li><a href="{$presenter->link('kategorie', $actualGenre|webalize, $actualPage - 1, $actualSort)}">&larr; Předchozí</a></li>
				{/if}

				{block head}
				{if $actualPage > 0}
<link rel="prev" href="{$presenter->link('kategorie', $actualGenre|webalize, $actualPage - 1, $actualSort)}" />
<link rel="next" href="{$presenter->link('kategorie', $actualGenre|webalize, $actualPage + 1, $actualSort)}" />
				{/if}
				{/block}

				{if $actualPage > 4}
					{for $i = 5; $i > 0; $i--}
    					<li n:class="$presenter->isLinkCurrent('kategorie', $actualGenre|webalize, $actualPage - $i) ? active"><a href="{$presenter->link('kategorie', $actualGenre|webalize, $actualPage - $i, $actualSort)}">{$actualPage - $i}</a></li>
					{/for}
				{/if}

				{for $i = 0; $i < 5; $i++}
    				<li n:class="$presenter->isLinkCurrent('kategorie', $actualGenre|webalize, $actualPage + $i) ? active"><a href="{$presenter->link('kategorie', $actualGenre|webalize, $actualPage + $i, $actualSort)}">{$actualPage + $i}</a></li>
				{/for}
				<li><a href="{$presenter->link('kategorie', $actualGenre|webalize, $actualPage + 1, $actualSort)}">Další &rarr;</a></li>
			</ul>
		</div> *}
	</div>
{/block}