{block content}
	<h1 class="text-center"><span n:block=title>{$actualPersonality->jmeno_prijmeni}</span> filmy ke stažení</h1>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3">
					<img style="width: 100%;" src="http://vipfilmy.cz/tvurci/{(floor($actualPersonality->id_csfd / 1000) * 1000) / 1000}/{$actualPersonality->id_csfd}">
			</div>

			<div class="col-sm-9">
				<div class="clearfix">
					<table class="table">
						<tbody>
							{if $actualPersonality->datum_narozeni != ''}
							<tr>
								<td><strong>Datum narození: </strong></td>
								<td>{$actualPersonality->datum_narozeni|date:'%d. %m. %Y'}</td>
							</tr>
							{/if}
							{if $actualPersonality->zeme != ''}
							<tr>
								<td><strong>Původ: </strong></td>
								<td>{$actualPersonality->zeme}</td>
							</tr>
							{/if}
							<tr>
								<td><strong>Hrál v: </strong></td>
								<td>
									<ul class="list-inline">
										{foreach $moviesInfo as $movie}
											<li class="list-inline-item"><a href="{$presenter->link('detail', $movie['seo_default_name'])}">{$movie['default_name']|striptags}</a></li> 
										{/foreach}
									</ul>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				
			</div>
		</div>

		<div class="row">
			<h2>Biografie osobnosti: </h2>
			{$actualPersonality->biografie_text|striptags}
		</div>
	</div>
{/block}