{block content}
<h1 class="text-center"><span n:block=title>Vyhledání výrazu: {$actualSearch|striptags}</span><br><small>Počet výsledků: {$gettedDataCount}</small></h1>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div class="btn-group pull-right">
				<div class="btn-group">
					<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
					Vyhledávat ve: <span class="caret"></span></button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="{$presenter->link('search', 'film', $actualSearch|striptags, $actualPage)}">Filmy</a></li>
						<li><a href="{$presenter->link('search', 'osobnost', $actualSearch|striptags, $actualPage)}">Osobnosti</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		{* <h3>Počet výsledků: {count($gettedData)}</h3> *}
	</div>

	<div class="row">
		{foreach $gettedData as $item}
			{if $actualType == 'film'}
				<div class="col-sm-6 movieItem">
				<div class="media">
					<div class="media-left media-top">
						{if $item['img_url'] == ''}
							<img alt="{$item['default_name']|striptags}" width="70" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="media-object">
							{else}
							<img alt="{$item['default_name']|striptags}" width="70" src="http://vipfilmy.cz/img_mov/{(ceil($item['id_csfd'] / 1000) * 1000) / 1000}/{$item['img_url']}" class="media-object">
						{/if}
					</div>
					<div class="media-body">
						<h3 class="media-heading">{$item['default_name']|striptags} <a data-toggle="tooltip" title="Detail na ČSFD" target="_blank" href="https://www.csfd.cz/film/{$item['id_csfd']}-{$item['seo_default_name']}/prehled/"><small class="text-muted pull-right"><img alt="ČSFD.cz" src="{$basePath}/design/icons/csfd.png" width="15"> {$item['hodnoceni']}%</small></a></h3>
						<p><small>Rok: {$item['rok']}</small><br>
						<small>Žánr: {$item['zanr']}</small></p>
						{if trim($item['text']) == ''} <p>Omlouváme se, popisek není k dispozici....</p> {else} <p>{$item['text']|truncate:330|striptags}</p> {/if}
						<div class="btn-group pull-right">
							<a data-toggle="tooltip" title="Stáhnout na hellspy" target="_blank" href="http://www.hellspy.cz/search/?usrq={$item['default_name']|striptags}&d=aac116" class="btn btn-success">
								<span class="glyphicon glyphicon-download-alt"></span> Stáhnout
							</a>
							<a target="_blank" href="{$presenter->link('detail', $item['default_name']|webalize)}" class="btn btn-primary">
								<span class="glyphicon glyphicon-info-sign"></span> Detail
							</a>
						</div>
					</div>
				</div>
			</div>
			{elseif $actualType == 'osobnost'}
				<div class="col-sm-6 movieItem">
				<div class="media">
					<div class="media-left media-top">
						<img alt="{$item['jmeno_prijmeni']|striptags}" width="70" src="http://vipfilmy.cz/tvurci/{(floor($item['id_csfd'] / 1000) * 1000) / 1000}/{$item['id_csfd']}" class="media-object">
					</div>
					<div class="media-body">
						<h3 class="media-heading">{$item['jmeno_prijmeni']|striptags}</h3>
						<p><small>Datum narození: {$item['datum_narozeni']|date:'%d. %m. %Y'}</small><br>
						<small>Původ: {$item['zeme']}</small></p>
						<p>{$item['biografie_text']|truncate:330|striptags}</p>
						<div class="btn-group pull-right">
							<a target="_blank" href="{$presenter->link('osobnost', $item['seoName'])}" class="btn btn-primary">
								<span class="glyphicon glyphicon-info-sign"></span> Detail
							</a>
						</div>
					</div>
				</div>
				</div>
			{/if}
		{/foreach}
	</div>
	<div class="row">
			<ul class="pagination pull-right">
				{if $actualPage > 0}
					<li><a href="{$presenter->link('search', $actualType, $actualSearch|striptags, $actualPage - 1)}">&larr; Předchozí</a></li>
				{/if}

				{block head}
				{if $actualPage > 0}
<link rel="prev" href="{$presenter->link('search', $actualType, $actualSearch|striptags, $actualPage - 1)}" />
				{/if}

				{if ($gettedDataCount / $defaultNumberOfMoviesDisplay) > ($actualPage + 1)}
<link rel="next" href="{$presenter->link('search', $actualType, $actualSearch|striptags, $actualPage + 1)}" />
				{/if}
				{/block}

				{if $actualPage > 4}
					{for $i = 5; $i > 0; $i--}
    					<li n:class="$presenter->isLinkCurrent('search', $actualType, $actualSearch|striptags, $actualPage - $i) ? active"><a href="{$presenter->link('search', $actualType, $actualSearch|striptags, $actualPage - $i)}">{$actualPage - $i}</a></li>
					{/for}
				{/if}

				{for $i = 0; $i < 5; $i++}
					{breakIf ($gettedDataCount / $defaultNumberOfMoviesDisplay) < ($actualPage + $i)}
    				<li n:class="$presenter->isLinkCurrent('search', $actualType, $actualSearch|striptags, $actualPage + $i) ? active"><a href="{$presenter->link('search', $actualType, $actualSearch|striptags, $actualPage + $i)}">{$actualPage + $i}</a></li>
				{/for}
				{if ($gettedDataCount / $defaultNumberOfMoviesDisplay) > ($actualPage + 1)}
					<li><a href="{$presenter->link('search', $actualType, $actualSearch|striptags, $actualPage + 1)}">Další &rarr;</a></li>
				{/if}
			</ul>
		</div>
</div>
{/block}