@import 'functions';

@font-face {
	font-family: 'NFI';
		src: url('../design/fonts/NFI/NFI.eot');
		src: url('../design/fonts/NFI/NFI.eot?#iefix') format('embedded-opentype'),
			url('../design/fonts/NFI/NFI.woff2') format('woff2'),
			url('../design/fonts/NFI/NFI.woff') format('woff'),
			url('../design/fonts/NFI/NFI.ttf')  format('truetype'),
			url('../design/fonts/NFI/NFI.svg#NFI') format('svg');
}

#navigace{
	.navbar-brand {
		padding: 0px;
	}
	.navbar-brand>img {
		height: 100%;
		padding: 15px;
		width: auto;
	}

	.navbar-brand {
		height: 80px;
	}

	.nav li a {
		padding-top: 30px;
		padding-bottom: 30px;

		&:hover{
			color: #e74345;
		}
	}
	.navbar-toggle {
		padding: 10px;
		margin: 25px 15px 25px 0;
	}
	#movieSearch{
		border: 1px solid #e74345;
		box-shadow: none;
		outline: none;

		&:focus{
			border-color: #e74345;
		}
	}
}

.rightTitle{
	margin: 0;
	font-family: 'NFI';
	font-size: 2em;
}

.panel-changed{
	border: none;
	
	.panel-heading{
		background: #e74345;
	}
}

#contentMovies{
	margin-top: 2em;
	margin-bottom: 2em;

	.movieItem{
		margin-top: 1em;
		margin-bottom: 1em;
	}
}

footer { min-height:350px; font-family: 'Open Sans', sans-serif; }
.footerleft { margin-top:50px; padding:0 36px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footerleft p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}


.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 
 

 
 .icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
 .icon-ul li { line-height:75px; width:100%; float:left;}
 .icon { float:left; margin-right:5px;}
 
 
 .copyright { min-height:40px; background-color:#000000;}
 .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
 .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
 .post p { font-size:12px; color:#FFF; line-height:20px;}
 .post p span { display:block; color:#8f8f8f;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:12px;}